.item {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item_container {
  width: 400vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_text {
  margin-top: 9%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #393c41;
  align-items: center;
  flex: 1;
}

.item_textDesc {
  font-size: 16px;
}

.item_lowerThird {
  margin-top: 25%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.item_buttons {
  display: flex;
  cursor: pointer;
}

.item_expand {
  color: black;
  width: 100%;
  margin-top: 3%;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.item_expand svg {
  width: 50px;
  height: 100px;
}

.footer {
  display: flex;
  flex: 1;
  color: #393c41;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  background-color: transparent;
}

.footer > p {
  margin: 10px;
}
